{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="#">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>
                <div class="picker_container">
                    <h2>Available Pi's</h2>
                    {{ form.avail_pis }}
                </div>
                <div class="form-group ml-3">
                    {{ form.experiment.label(class="form-control-label") }}
                    {% if form.experiment.errors %}
                        {{ form.experiment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.experiment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.experiment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="container">
                    <div class="left">
                        <div class="form-group">
                            {{ form.start_date.label(class="form-control-label") }}
                            {% if form.start_date.errors %}
                                {{ form.start_date(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.start_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.start_date(class="form-control form-control-md", type="date") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="right">
                        <div class="form-group">
                            {{ form.end_date.label(class="form-control-label") }}
                            {% if form.end_date.errors %}
                                {{ form.end_date(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.end_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.end_date(class="form-control form-control-md", type="date") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="left">
                        <div class="form-group mt-4">
                            {{ form.start_images.label(class="form-control-label") }}
                            {% if form.start_images.errors %}
                                {{ form.start_images(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.start_images.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.start_images(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group mt-4">
                            {{ form.interval.label(class="form-control-label") }}
                            {% if form.interval.errors %}
                                {{ form.interval(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.interval.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.interval(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="right ml-8">
                        <div class="form-group mt-4">
                            {{ form.end_images.label(class="form-control-label") }}
                            {% if form.end_images.errors %}
                                {{ form.end_images(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.end_images.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.end_images(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Schedule the PI with those settings?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="#" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
